.App {
  /*text-align: center;*/
}

body {
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

canvas {
  height: 100vh;
  background: rgb(0, 0, 0);
  z-index: -100;
}

ToDoPage {
  position: relative;
  z-index: 50;
  font-size: 20;
  color: red;
}

@media only screen and (max-height: 750px) {
  .instructions {
    font-size: 10px;
  }

  .instructions-title {
    font-size: 20px;
  }
}

@media only screen and (max-width: 1100px) and (min-height: 751px) {
  .instructions {
    font-size: 13px;
  }

  .instructions-title {
    font-size: 23px;
  }
}